In [2]:
import pandas as pd
#from unidecode import unidecode
import re

from re import sub

pd.options.display.max_colwidth = 100000

import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [7]:
A = pd.read_csv('.../data.csv')

In [8]:
#B = pd.read_csv('indeed.csv')

# All features

In [9]:
lister = list(A.columns)

In [10]:
lister

['Unnamed: 0',
 'Extracted_On_Time_Stamp',
 'Company',
 'Id',
 'Location',
 'website',
 'Job_description',
 'Jobtitle',
 'Job_description_min']

# Subsetting the features

In [122]:
#subset to only keep the features that are needed 
A = A[['jobtitle',
 'Location content',
 'Salary value',
 'Permanent link',
 'Dateposted value',
 'Jobintro value',]]

In [123]:
A.columns

Index([u'jobtitle', u'Location content', u'Salary value', u'Permanent link',
       u'Dateposted value', u'Jobintro value'],
      dtype='object')

In [11]:
A.head(3)

,Unnamed: 0,Extracted_On_Time_Stamp,Company,Id,Location,website,Job_description,Jobtitle,Job_description_min
0,0,20160721 0,hays,0,"['city', 'the', 'central', 'london']",adzuna,job search senior java developer equity front office tier one investment bank london your new company a world leading tier one investment bank with a constant growing presence in the uk and world wide your new role this role is for a senior java developer to work on the server side pricing and reporting frameworks within the equities team this is a core java role writing codes within a concurrent low latency high volume transaction environment in real time what you ll need to succeed,data centre manager,job search senior java developer equity front office tier one investment bank london your new company a world leading tier one investment bank with a constant growing presence in the uk and world wide your new role this role is for a senior java developer to work on the server side pricing and reporting frameworks within the equities team this is a core java role writing codes within a concurrent low latency high volume transaction environment in real time what you ll need to succeed
1,1,20160721 0,outsource uk,1,"['wiltshire', 'swindon']",adzuna,bored of being an office based pen tester ready to consult with customers and make a difference to their cyber security practise this is the role for you cyber security consultant penetration tester check team leader swindon or london vulnerability nessus burp kali linux metasploit a penetration tester with customer facing cyber security skills is required to join a consultancy you can work out of london or swindon and will be comfortable with uk travel you must be eligible for security,data centre manager,bored of being an office based pen tester ready to consult with customers and make a difference to their cyber security practise this is the role for you cyber security consultant penetration tester check team leader swindon or london vulnerability nessus burp kali linux metasploit a penetration tester with customer facing cyber security skills is required to join a consultancy you can work out of london or swindon and will be comfortable with uk travel you must be eligible for security
2,2,20160721 0,hays,2,['edinburgh'],adzuna,software engineer java web international digital consultancy edinburgh city centre 35 50k your new company headquartered in edinburgh city centre this expanding digital consultancy provides a full range of web solutions and services to an international client base they have a talented team of more than 40 software and digital experts covering a wide range of technology including php java and c your new role you will work closely on a number of client projects focused primarily on b,data centre manager,software engineer java web international digital consultancy edinburgh city centre 35 50k your new company headquartered in edinburgh city centre this expanding digital consultancy provides a full range of web solutions and services to an international client base they have a talented team of more than 40 software and digital experts covering a wide range of technology including php java and c your new role you will work closely on a number of client projects focused primarily on b

# Wrangling the features

In [125]:
#renaming the features 
A.columns = ['Jobtitle', 'Location', 'Salary','Company','Date_posted','Job_description']

In [126]:
A.head(3)

,Jobtitle,Location,Salary,Company,Date_posted,Job_description
0,"IT Support Technician - Windows OS, IT, Microsoft - Logistics & Freight - Horsham","Horsham, West Sussex; Horsham, West Sussex",?20000 - ?22000 Per Annum,Additional Resources Ltd,Yesterday,IT Support Technician - Logistics & Freight - Horsham Salary: ?20-22k Key words: IT ? The role: The IT Support Technician must be able to communicate with staff at all levels ? Keeping up to date on developments within the IT Department All other reasonable ?; IT Support Technician - Logistics & Freight - Horsham Salary: ?20-22k Key words: IT ?
1,IT-Project Support,"CV1, Coventry; CV1, Coventry",?30000 - ?32000 per annum,Hamlin Knight - Coventry,Yesterday,"? Knight is currently recruiting for an experienced IT-Project Support for a market leading ? IT-Project Support To provide IT-System administration, support and local development. Job ?; ? Knight is currently recruiting for an experienced IT-Project Support for a market leading ?"
2,Computing Graduates - IT Support,"GU21, Woking; GU21, Woking",?20000 - ?27000 per annum,Informatiq,Posted 3 days ago,"Computing Graduates - IT Support An innovative market leader are looking to find a ? Graduate IT Support - Ideal Candidate - IT related degree - Excellent communication skills ? for, are looking for a new challenge within IT Support, and are keen to find out more, ?; Computing Graduates - IT Support An innovative market leader are looking to find a ?"

#Wrangling functions

In [127]:
#remove non ascii characters 
def remove_non_ascii(text):
    return re.sub(r'[^\x00-\x7F]+',' ', text)

#strip out the numbers 
def stripno(string):
    return re.sub(r'\w*\d\w*', '', str(string)).strip()

#function that only retains letters and numbers (output is a string)
def preProcess(column):
    """
    Do a little bit of data cleaning with the help of Unidecode and Regex.
    Things like casing, extra spaces, quotes and new lines can be ignored.
    This is a function which standardises the data 
    """
    try : # python 2/3 string differences
        column = str(column)
    except AttributeError:
        pass
    #column = unidecode(column)
    #column = re.sub('  +', ' ', column)
    #column = re.sub('\n', ' ', column)
    column = re.sub('[^a-zA-Z0-9]',' ', column)
    column = column.strip().strip('"').strip(" ").lower().strip()
    # If data is missing, indicate that by setting the value to `None`
    if not column:
        column = None
    return column

In [132]:
B = A

# Removing special characters (retaining only letters and numbers)

In [133]:
#converts to string to a set of words, removing anything which is not a letter or number 
#then coverting back to a string removing unwanted characters 
for i in set(B.columns):
    B[i] = B[i].map(lambda x: preProcess(x)).map(lambda x: list(x.split()) if x else None)
    B[i] = B[i].map(lambda x: ' '.join(x))

In [134]:
#removing duplication from location (using sets)
B["Location"] = B["Location"].map(lambda x: preProcess(x)).map(lambda x: list(set(x.split())) if x else None)
B["Location"] = B["Location"].map(lambda x: ' '.join(x))

In [135]:
B.head(3)

,Jobtitle,Location,Salary,Company,Date_posted,Job_description
0,it support technician windows os it microsoft logistics freight horsham,west sussex horsham,20000 22000 per annum,additional resources ltd,yesterday,it support technician logistics freight horsham salary 20 22k key words it the role the it support technician must be able to communicate with staff at all levels keeping up to date on developments within the it department all other reasonable it support technician logistics freight horsham salary 20 22k key words it
1,it project support,coventry cv1,30000 32000 per annum,hamlin knight coventry,yesterday,knight is currently recruiting for an experienced it project support for a market leading it project support to provide it system administration support and local development job knight is currently recruiting for an experienced it project support for a market leading
2,computing graduates it support,gu21 woking,20000 27000 per annum,informatiq,posted 3 days ago,computing graduates it support an innovative market leader are looking to find a graduate it support ideal candidate it related degree excellent communication skills for are looking for a new challenge within it support and are keen to find out more computing graduates it support an innovative market leader are looking to find a

# Removal of location names from Job Description

In [136]:
#removal of location names from job description
#g(f(x)) g => y => x and is checked against a set of words (apply is to iterate across the set of columns)
B["Job_description"] = B.apply(lambda x: filter(lambda e: not e in set(str(x["Location"]).split()), str(x["Job_description"]).split()),axis=1)
B["Jobtitle"] = B.apply(lambda x: filter(lambda e: not e in set(str(x["Location"]).split()), str(x["Jobtitle"]).split()),axis=1)
#converting lists to strings 
B["Jobtitle"] = B["Jobtitle"].map(lambda x: ' '.join(x))
B["Job_description"] = B["Job_description"].map(lambda x: ' '.join(x))

In [137]:
B.head(3)

,Jobtitle,Location,Salary,Company,Date_posted,Job_description
0,it support technician windows os it microsoft logistics freight,west sussex horsham,20000 22000 per annum,additional resources ltd,yesterday,it support technician logistics freight salary 20 22k key words it the role the it support technician must be able to communicate with staff at all levels keeping up to date on developments within the it department all other reasonable it support technician logistics freight salary 20 22k key words it
1,it project support,coventry cv1,30000 32000 per annum,hamlin knight coventry,yesterday,knight is currently recruiting for an experienced it project support for a market leading it project support to provide it system administration support and local development job knight is currently recruiting for an experienced it project support for a market leading
2,computing graduates it support,gu21 woking,20000 27000 per annum,informatiq,posted 3 days ago,computing graduates it support an innovative market leader are looking to find a graduate it support ideal candidate it related degree excellent communication skills for are looking for a new challenge within it support and are keen to find out more computing graduates it support an innovative market leader are looking to find a

# Remove stop words from and numbers from Job Description

In [140]:
#download file Sset from Gmail and read in as ab

#set one containing stop words from all of the google words (google searches)
s1 = pd.read_csv("Sset.csv")
#set two containing stop words from (plus extra words) NLTK http://www.nltk.org/
s = pd.read_csv("Sset_min.csv")
s1 = s1.add("b")
s1 =s1.add("a")


s.columns=["Un","col"]
s = set(s["col"])

s1.columns=["Un","col"]
s1 = set(s1["col"])

#removing stop words using a list of google search words 
B["Job_description_min"] = B["Job_description"].apply(lambda x: filter(lambda w: not w in s1,x.split()))
B["Job_description_min"] = B["Job_description_min"].map(lambda x: ' '.join(x))
#removing stop words using a list from python's NLTK (natual language processing library)
#B["Job_description_min1"] = B["Job_description"].apply(lambda x: filter(lambda w: not w in s,x.split()))
#B["Job_description_min1"] = B["Job_description_min1"].map(lambda x: ' '.join(x))
# removing numbers from the job description 
B["Job_description_min"] = B["Job_description_min"].apply(lambda x: stripno(x))
#B["Job_description_min1"] = B["Job_description_min1"].apply(lambda x: stripno(x))
B["Jobtitle_min"] = B["Jobtitle"].apply(lambda x: stripno(x))

In [ ]:
B["Jobdes_mins"]

In [ ]:
B.to_csv("/home/mint/my-data/Job_vacancies/De-duplication/data/data_final.csv")

In [141]:
B.head(3)

,Jobtitle,Location,Salary,Company,Date_posted,Job_description,Job_description_min,Jobtitle_min
0,it support technician windows os it microsoft logistics freight,west sussex horsham,20000 22000 per annum,additional resources ltd,yesterday,it support technician logistics freight salary 20 22k key words it the role the it support technician must be able to communicate with staff at all levels keeping up to date on developments within the it department all other reasonable it support technician logistics freight salary 20 22k key words it,technician logistics freight key words technician must communicate staff levels keeping date developments department reasonable technician logistics freight key words,it support technician windows os it microsoft logistics freight
1,it project support,coventry cv1,30000 32000 per annum,hamlin knight coventry,yesterday,knight is currently recruiting for an experienced it project support for a market leading it project support to provide it system administration support and local development job knight is currently recruiting for an experienced it project support for a market leading,knight market system administration local development knight market,it project support
2,computing graduates it support,gu21 woking,20000 27000 per annum,informatiq,posted 3 days ago,computing graduates it support an innovative market leader are looking to find a graduate it support ideal candidate it related degree excellent communication skills for are looking for a new challenge within it support and are keen to find out more computing graduates it support an innovative market leader are looking to find a,computing graduates innovative market leader graduate degree communication challenge keen computing graduates innovative market leader,computing graduates it support

# Potential wrangling developments

In [34]:
#could feed through more manipulation:
#such as obtaining an average number for Salary 
#remove stop words 
#standard format Location 
#create a real date variable 
#company lookup 
#LMI for all, can guess soc, api for the universal job match

# Output

In [36]:
B.to_csv("total_job_wrangle.csv")